# vim files # 
*.swp
*.netrwhist

# qutebrowser autoconfig file #
qutebrowser/autoconfig.yml
qutebrowser/qsettings/

# vim view files
.vim/view/*

# pycache 
__pycache__

#tmp binary files
bin/tmp/*

#newsboat unread count file
newsboat/unread

config/mpv/watch_later
