[core]
    pager = delta

[user]
	email = pg@prithu.dev
	name = Prithu Goswami
	signingkey = A17AFDEA2EF9A76AA868285DE2AB251EDB8945E5

[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lgh = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ah)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lgs = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg  = !"git lg1"
    sra = !"git log --format=%H -n 10 --all | xargs git show"
    sr  = !"git log --format=%H -n 10 | xargs git show"
    pushall = !"git remote | xargs -L1 git push"
    a = !"git status --short | grep \"^ M\\|^ D\\|^\\?\\?\" | fzf -m | awk '{ print $2 }' | xargs git add"
    st = status --short
    ci = commit
    ca = commit --amend
    caa = commit -a --amend
    br = branch
    bra = branch -a
    co = checkout
    df = diff
    ; up = pull --rebase
[pull]
	rebase = false
[init]
	defaultBranch = master

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

; [merge]
;     conflictstyle = diff3

[diff]
    colorMoved = default
[advice]
	addEmptyPathspec = false


